header{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

nav > ul > li{
    height: 15%;
    width: 15%;
}

.panel{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

p{
    font-size: large;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid grey;
    align-items: stretch;
}

.leftpanel{
    height: 900px;
    width: 900px;
}

.rightpanel{
    height: 400px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}